@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #262626;
  --secondary-color: #606060;
  --thirdary-color: #FFFFFF;

  --primary-bg-color: #F8F8F8;
  --secondary-bg-color: #141414;
  --thirdary-bg-color: #FFFFFF;
  --fourthdary-bg-color: #f4f4f4;

  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

h1 {
  font-size: 50px;
  font-family: var(--primary-font);
  color: var(--primary-color);
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  /* background-color: rgba(255, 255, 255, 0.95); */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.03);
  backdrop-filter: blur(10px);
  transform: translateY(0);
}

.main-header.nav-hidden {
  transform: translateY(-100%);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1160px;
  margin-inline: auto;
  padding-inline: 20px;
  height: 82px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-height: 100px;
  width: auto;
}

.nav-bar {
  display: flex;
  gap: 60px;
  align-items: center;
}

.nav-bar a {
  font-size: 16px;
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-weight: 600;
}

.humburger {
  display: none;
}

.contact {
  display: inline-block;
  background-color: var(--secondary-bg-color);
  color: var(--thirdary-color) !important;
  padding: 15px 48px;
}

.mv-pin-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.hero-mv {
  width: 100%;
  height: 100%;
}

.nav-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.sec-text {
  display: flex;
  background-color: var(--fourthdary-bg-color);
  align-items: center;
  padding: 100px 50px 100px 140px;
}

.sec-text p {
  font-size: 20px;
  color: var(--secondary-color);
  margin-top: 18px;
  font-weight: 400;
  font-family: var(--secondary-font);
  margin-bottom: 50px;
  /* padding-inline: auto; */
}

.view-more {
  display: inline-block;
  background-color: var(--secondary-bg-color);
  font-size: 16px;
  color: var(--thirdary-color);
  padding: 14px 38.5px;
  font-weight: 700;
  font-family: var(--primary-font);
}

.sec-img {
  height: 100%;
  width: 100%;
}

.sec-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* margin-right: 200px; */
}

.main-content {
  position: relative;
  z-index: 2;
  background-color: var(--thirdary-bg-color);
}

.sec-wrap {
  margin-inline: auto;
  margin-top: 97px;
  max-width: 1160px;
  padding-inline: 20px;
}

.sec-wrap h2 {
  font-size: 40px;
  font-family: var(--primary-font);
  color: var(--primary-color);
  text-align: center;
}

.sec-wrap p {
  font-size: 16px;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 54px;
  line-height: 1.7;
}

.wrapper {
  display: flex;
  gap: 85px;
}

.wrapper .img {
  margin-block: auto;
  margin-inline: auto;
}

.wrap li {
  display: flex;
  list-style-type: none;
  font-size: 22px;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  gap: 13px;
  font-weight: 600;
  margin-bottom: 22px;
  line-height: 1.5;
}

.wrap li:first-child {
  margin-top: 0px;
}

.wrap li:last-child {
  margin-top: 35px;
}

.wrap li::before {
  display: inline-block;
  position: relative;
  top: 5px;
  width: 26px;
  height: 26px;
  content: "";
  background-image: url(img/tick-circle.png);
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.sec-blog {
  background-color: var(--primary-bg-color);
  padding-block: 80px 40px;
}

.blog-container {
  max-width: 1160px;
  margin-inline: auto;
  margin-bottom: 10px;
  padding-inline: 20px;
}

.ttl {
  text-align: center;
  font-family: var(--primary-font);
  font-size: 40px;
  font-weight: 700;
}

.blog-wrapper {
  display: flex;
  gap: 33px;
  margin-top: 50px;
}

.blog {
  background-color: var(--thirdary-bg-color);
  padding-bottom: 15px;
  flex: 1;
}

.blog img {
  width: 100%;
  height: auto;
}

.blog-header-text {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 18px;
  color: var(--primary-color);
  margin-top: 16px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 10px;
}

.blog-content-text {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 16px;
  color: var(--secondary-color);
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0px 20px;
  line-height: 1.7;
}

.learn-more {
  display: inline-block;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  padding: 10px 0px 10px 20px;
  color: var(--primary-color);
}

.view-detail {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

.detail-btn {
  display: inline-block;
  padding: 15px 40px;
  background-color: var(--secondary-bg-color);
  color: var(--thirdary-color);
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.detail-btn:hover {
  background-color: var(--thirdary-color);
  color: #141414;
  border-color: #141414;
  cursor: pointer;
}

.sec-client {
  background-color: var(--thirdary-bg-color);
  padding-block: 80px;
}

.client-container {
  max-width: 1160px;
  margin-inline: auto;
  padding-inline: 20px;
}

.cli-ttl {
  text-align: center;
  font-family: var(--primary-font);
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 60px;
}

.client-swiper {
  position: relative;
  padding-bottom: 60px !important;
  padding-inline: 50px;
}

.client-swiper .swiper-slide {
  display: flex;
  height: auto;
}

.sec-client .client {
  background-color: var(--primary-bg-color);
  padding: 40px;
  border-radius: 4px;
  width: 100%;
}

.cli-content {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 16px;
  color: var(--secondary-color);
  margin-bottom: 20px;
  line-height: 1.6;
}

.cli-name {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  margin-bottom: 4px;
}

.cus {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 14px;
  color: #909B99;
}

.arrow-mob {
  display: none;
}

.client-swiper .swiper-button-prev,
.client-swiper .swiper-button-next {
  color: #000000;
  width: 44px;
  height: 44px;
  background-color: var(--thirdary-bg-color);
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.client-swiper .swiper-button-prev::after,
.client-swiper .swiper-button-next::after {
  font-size: 16px;
  font-weight: bold;
}

.client-swiper .swiper-pagination-bullet-active {
  background: var(--secondary-bg-color) !important;
}

.sec-faq {
  display: flex;
  gap: 40px;
  margin-inline: auto;
  max-width: 1160px;
  margin-top: 100px;
  padding-inline: 20px;
}

.sec-faq .sec-img {
  flex: 1;
}

.sec-faq .sec-img img {
  width: 100%;
  height: auto;
}

.sec-content {
  flex: 1;
}

.sec-content h3 {
  font-size: 30px;
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-weight: 600;
  margin-bottom: 40px;
}

.frequent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.frequent h4 {
  font-size: 16px;
  font-family: var(--primary-font);
  font-weight: 500;
  color: var(--primary-color);
}

.sec-faq-text {
  padding: 20px;
  background-color: var(--primary-bg-color);
  margin-top: 20px;
  border-radius: 4px;
}

.sec-faq-text p {
  font-size: 15px;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  font-weight: 400;
  margin-top: 15px;
  line-height: 1.6;
}

.sec-contact {
  padding-top: 50px;
}

.contact-sec {
  max-width: 1160px;
  margin-inline: auto;
  margin-block: 100px;
  padding-inline: 20px;
}

.contact-wrap {
  display: flex;
  background-color: var(--secondary-bg-color);
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
  border-radius: 10px;
}

.contact-text .contact-ttl {
  font-size: 32px;
  font-family: var(--primary-font);
  font-weight: 500;
  color: var(--thirdary-color);
  margin-bottom: 10px;
}

.contact-text .contact-p {
  font-size: 18px;
  font-family: var(--secondary-font);
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}

.contact-us .contact-btn {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  font-family: var(--secondary-font);
  background-color: var(--thirdary-color);
  padding: 14px 35px;
  color: #141414;
  border-radius: 4px;
}

.footer {
  background-color: var(--primary-bg-color);
  padding-block: 60px;
}

.footer .wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1160px;
  margin-inline: auto;
  padding-inline: 20px;
}

.footer .left-footer {
  max-width: 320px;
}

.footer .left-footer p {
  font-size: 15px;
  font-family: var(--secondary-font);
  font-weight: 500;
  color: var(--secondary-color);
  padding-top: 15px;
  line-height: 1.6;
}

.footer .right-footer p {
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.emoji-footer {
  display: flex;
  gap: 16px;
}